body{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}
#square{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aqua;
    position: absolute;
}