.light{
    width: 500px;
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: row-reverse;
}
.red{
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: red-light 8s infinite;
}
.yellow{
    background-color: yellow;
    width: 50px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: yellow-light 8s infinite;
}
.green{
    background-color: green;
    width: 50px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: green-light 8s infinite ;
}
@keyframes green-light{
    0%{
        opacity: 100%;
    }
    50%{
        opacity: 100%;
    }
    50.1%{
        opacity: 20%;
    }
    100%{
        opacity: 20%;
    }

}
@keyframes yellow-light{
    0%{
        opacity: 20%;
    }
    50%{
        opacity: 20%;
    }
    50.1%{
        opacity: 100%;
    }
    62.5%{
        opacity: 100%;
    }
    62.6%{
        opacity: 20%;
    }
    100%{
        opacity: 20%;
    }
}
@keyframes red-light{
    0%{
        opacity: 20%;
    }
    62.5%{
        opacity: 20%;
    }
    62.6%{
        opacity: 100%;
    }
    100%{
        opacity: 100%;
    }

}