#btn{
    display: none;
}

label{
    display: block;
    width: 100px;
    height: 50px;
    background-color: gray;
    border-radius: 50px;
    position: absolute;
    z-index: 0;
}
.cir{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
    position: absolute;
    z-index: 10;
}

input:checked+label{
    background-color: aqua;
}
input:checked+label .cir{
    margin-left: 50px;
}