body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cir1,.cir2,.cir3,.cir4{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.cir1{
    background-color: #19A68C;
    animation: cir 5s infinite;
}
.cir2{
    background-color: #F63D3A;
    animation: cir 5s infinite;
    animation-delay: .5s;
}
.cir3{
    background-color: #FDA543;
    animation: cir 5s infinite;
    animation-delay: 1s;
}
.cir4{
    background-color: #193B48;
    animation: cir 5s infinite;
    animation-delay: 1.5s;
}
@keyframes cir{
    0%{
        scale: 100%;
    }
    10%{
        scale: 100%;
    }
    30%{
        scale: 120%;
    }
    60%{
        scale: 120%;
    }
    100%{
        scale: 100%;
    }
}
