body{
    display: flex;
    
}
.box{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}
.box:active{
    background-color: yellow;
    border: solid 3px black;
}