#clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid 2px #000000;
    position: relative;
    margin: 20px auto;
}


#second {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom center;
    border-radius: 10px;
    width: 2px;
    height: 120px;
    background: red;
    z-index: 1;
}

