body{
    display: grid;
    grid-template-rows: repeat(7,50px);
    grid-template-columns: repeat(7,50px);
    gap: 5px;
}
.title{
    grid-column: 1/4;
    grid-row: 1/2;
    border: solid 1px black;
}
.navi{
    grid-column: 4/8;
    grid-row: 1/2;
    border: solid 1px black;
}
.mainimg{
    grid-column: 1/4;
    grid-row: 2/4;
    border: solid 1px black;
}
.maincon{
    grid-column: 1/4;
    grid-row: 4/7;
    border: solid 1px black;
}
.side{
    grid-column: 4/8;
    grid-row: 2/7;
    border: solid 1px black;
}
.footer{
    grid-column: 1/8;
    grid-row: 7/8;
    border: solid 1px black;
}