.main{
    display: grid;
    grid-template-rows: repeat(7,50px);
    grid-template-columns: repeat(8,50px);
    gap: 10px;
}
.header{
    grid-row: 1/2;
    grid-column: 1/4;
    border: solid 1px black;
}
.nav{
    grid-row: 1/2;
    grid-column: 4/9;
    border: solid 1px black;
}
.side-nav{
    grid-row: 2/7;
    grid-column: 1/3;
    border: solid 1px black;
}
.news{
    grid-row: 2/4;
    grid-column: 3/7;
    border: solid 1px black;
}
.main-con{
    grid-row: 4/7;
    grid-column: 3/7;
    border: solid 1px black;
}
.side{
    grid-row: 2/7;
    grid-column: 7/9;
    border: solid 1px black;
}
.footer{
    grid-row: 7/8;
    grid-column: 1/9;
    border: solid 1px black;
}
    