.boxes{
    display: flex;
    align-items: center;
}
.box{
    border: solid 1px black;
    width: 80px;
    height: 80px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:active{
    background-color: yellow;
    border: solid 2px black;
    width: 78px;
    height: 78px;
}