.cards{
    width: 200px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    animation: flip 2s infinite;
}
.front,.back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-image: linear-gradient(45deg, #f06, #4a90e2);
}
.back{
    transform: rotateY(180deg);
}
@keyframes flip{
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}