.grid{
    display: grid;
    grid-template-columns: repeat(7,30px);
    grid-template-rows: repeat(7,30px);
    gap: 5px;
}
.sitetitle{
    grid-row: 1/2;
    grid-column: 1/4;
    border: solid 1px black;
}
.nav{
    grid-row: 1/2;
    grid-column: 4/8;
    border: solid 1px black;
}
.img{
    grid-row: 2/4;
    grid-column: 1/5;
    border: solid 1px black;
}
.main{
    grid-row: 4/7;
    grid-column: 1/5;
    border: solid 1px black;
}
.side{
    grid-row: 2/7;
    grid-column: 5/8;
    border: solid 1px black;
}
.footer{
    grid-row: 7/8;
    grid-column: 1/8;
    border: solid 1px black;
}