*{
    margin: 0;
}

.content{
    position: relative;
    display: inline-block;
    width: 300px;
    height: 400px;
}
.img{
    display: block;
    width: 100%;
    height: 100%;
}
.text{
    display: none;
    position: absolute;
    transform: translate(-50%,-50%);
    color: white;
    z-index: 1;
    top: 50%;
    left: 50%;
    background-color: rgb(110, 110, 110);
    padding: 30px;
}
.img:hover + .text{
    display: flex;
}


