.main{
    width: 500px;
    height: 200px;
    background-color: gray;
    border-radius: 40px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.green{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
    animation: light-g 8s infinite;
    
    
}

.yellow{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    animation: light-y 8s infinite;
    
}

.red{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    animation: light-r 8s infinite;
    
}
@keyframes light-g{
    0%{
        opacity: 1;
    }
    49.9%{
        opacity: 1;
    }
    50%{
        opacity: 0.2;
    }
    100%{
        opacity: 0.2;
    }
}
@keyframes light-y{
    0%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.2;
    }
    50.1%{
        opacity: 1;
    }
    62.4%{
        opacity: 1;
    }
    62.5%{
        opacity: 0.2;
    }
    100%{
        opacity: 0.2;
    }
}
@keyframes light-r {
    0%{
        opacity: 0.2;
    }
    62.5%{
        opacity: 0.2;   
    }
    62.6%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}