.boxes{
    display: flex;
    align-items: center;

}
.box{
    border: solid 1px black;
    width: 80px;
    height: 60px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: yellow;
    border: solid 3px black;
}