*{
    margin: 0;
}

#square{
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: black;
}
#back{
    width: 100vw;
    height: 100vh;
    background-color: brown;
    position: relative;
}